# shellcheck disable=SC2148
# shellcheck disable=SC2034
# shellcheck disable=SC1090

# Path to your oh-my-zsh installation.
export ZSH="${HOME}/.local/share/oh-my-zsh"

###############################################################################

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="{{ oh_my_zsh.theme | default(oh_my_zsh_theme) }}"
#af-magic
#aussiegeek
#baboom
#bira
#bureau
#robbyrussell

###############################################################################

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

###############################################################################

# Set fzf installation directory path - needs to be exported before plugin is set
export FZF_BASE="{{ fzf_dir }}"

# Uncomment the following line to disable fuzzy completion
# export DISABLE_FZF_AUTO_COMPLETION="true"

# Uncomment the following line to disable key bindings (CTRL-T, CTRL-R, ALT-C)
# export DISABLE_FZF_KEY_BINDINGS="true"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ oh_my_zsh.plugins | default(oh_my_zsh_plugins) | join(' ') }})

# colored-man-pages https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/colored-man-pages
# common-aliases https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/common-aliases
# docker https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/docker
# fzf https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/fzf
# fzf-zsh https://github.com/wyntau/fzf-zsh
# history https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/history
# sudo https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/sudo
# web-search https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/web-search
# zsh-autosuggestions https://github.com/zsh-users/zsh-autosuggestions
# zsh-completions https://github.com/zsh-users/zsh-completions

# https://github.com/zsh-users/zsh-completions
autoload -U compinit && compinit

# https://github.com/junegunn/fzf#using-git
[ -f "${XDG_CONFIG_HOME:-$HOME/.config}"/fzf/fzf.zsh ] && source "${XDG_CONFIG_HOME:-$HOME/.config}"/fzf/fzf.zsh

###############################################################################

# http://zsh.sourceforge.net/Doc/Release/Options.html#Options
HISTFILE="$XDG_DATA_HOME/zsh/history" # Where to save history to disk
HIST_STAMPS="yyyy-mm-dd"      # The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HISTSIZE=10000                # How many lines of history to keep in memory
SAVEHIST=10000                # Number of history entries to save to disk
setopt append_history         # Append history to the history file (no overwriting)
setopt extended_history       # Save each command’s beginning timestamp (in seconds since the epoch) and the duration (in seconds) to the history file.
setopt hist_expire_dups_first # Deletes duplicates first before unique commands in history
setopt hist_find_no_dups      # When searching for history entries in the line editor, do not display duplicates of a line previously found
setopt hist_ignore_all_dups   # If a new command line being added to the history list duplicates an older one, the older command is removed from the list
setopt hist_ignore_space      # Space before command won't add command to history
setopt hist_reduce_blanks     # `a  b` normalizes to `a b` in history
setopt inc_append_history     # This option works like APPEND_HISTORY except that new history lines are added to the $HISTFILE incrementally (as soon as they are entered
setopt share_history           # Share history across terminals

###############################################################################

setopt auto_pushd             # cd foo; cd bar; popd --> in foo again
setopt no_beep                # No beep on error
setopt no_rm_star_silent      # confirm on `rm *` (default, but let's be safe)
setopt pipe_fail              # fail when the first command in a pipeline fails
setopt rm_star_wait           # wait after confirmation on `rm *` to allow ^C

###############################################################################

source "${ZSH}/oh-my-zsh.sh"

###############################################################################

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in ~/.oh-my-zsh/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"


# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#    export EDITOR='vim'
# else
#    export EDITOR='vim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/rsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias ohmyzsh="mate ~/.oh-my-zsh"
# alias zshconfig="mate ~/.zshrc"
alias r="ranger"
