### Export

# Path to your oh-my-zsh installation
export ZSH="{{ oh_my_zsh_dir }}"

# Set fzf installation directory path - needs to be exported before plugin is set
export FZF_BASE="{{ fzf_dir }}"


### Theme

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="{{ oh_my_zsh.theme }}"
#af-magic
#aussiegeek
#baboom
#bira
#bureau
#robbyrussell


### Common

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"


### Plugins

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ oh_my_zsh.plugins | join(' ') }})

# More plugins at https://github.com/ohmyzsh/ohmyzsh/wiki/Plugins

# Required to keep since added by fzf install script
[ -f "${XDG_CONFIG_HOME:-$HOME/.config}"/fzf/fzf.zsh ] && source "${XDG_CONFIG_HOME:-$HOME/.config}"/fzf/fzf.zsh

### History

# http://zsh.sourceforge.net/Doc/Release/Options.html#Options
HISTFILE="${HOME}/.zsh_history" # Where to save history to disk
HIST_STAMPS="yyyy-mm-dd"      # The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HISTSIZE=10000                # How many lines of history to keep in memory
SAVEHIST=10000                # Number of history entries to save to disk
setopt append_history         # Append history to the history file (no overwriting)
setopt extended_history       # Save each command’s beginning timestamp (in seconds since the epoch) and the duration (in seconds) to the history file.
setopt hist_expire_dups_first # Deletes duplicates first before unique commands in history
setopt hist_find_no_dups      # When searching for history entries in the line editor, do not display duplicates of a line previously found
setopt hist_ignore_all_dups   # If a new command line being added to the history list duplicates an older one, the older command is removed from the list
setopt hist_ignore_space      # Space before command won't add command to history
setopt hist_reduce_blanks     # `a  b` normalizes to `a b` in history
setopt inc_append_history     # This option works like APPEND_HISTORY except that new history lines are added to the $HISTFILE incrementally (as soon as they are entered
setopt share_history           # Share history across terminals


### Common config

setopt auto_pushd             # cd foo; cd bar; popd --> in foo again
setopt no_beep                # No beep on error
setopt no_rm_star_silent      # confirm on `rm *` (default, but let's be safe)
setopt pipe_fail              # fail when the first command in a pipeline fails
setopt rm_star_wait           # wait after confirmation on `rm *` to allow ^C

# Delete one word like bash
autoload -U select-word-style
select-word-style bash

# Tab-completion
autoload -U compinit && compinit


### Source

source "${ZSH}/oh-my-zsh.sh"


### Aliases

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias ohmyzsh="mate ~/.oh-my-zsh"
# alias zshconfig="mate ~/.zshrc"

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias r="ranger"

### Commands

command -v nvim >/dev/null && alias vim="nvim" vimdiff="nvim -d"
#command -v bat >/dev/null && alias cat="bat"
#command -v batcat >/dev/null && alias cat="batcat"

if command -v exa >/dev/null; then
  # Changing "ls" to "exa"
  alias ls='exa -al --color=always --group-directories-first' # my preferred listing
  alias la='exa -a --color=always --group-directories-first'  # all files and dirs
  alias ll='exa -l --color=always --group-directories-first'  # long format
  alias lt='exa -aT --color=always --group-directories-first' # tree listing
  alias l.='exa -a | egrep "^\."'
fi

# Always last
if command -v starship >/dev/null; then
    eval "$(starship init zsh)"
fi
