# IDEs
.clwb
.idea
.vscode

# Python
__pycache__
*.pyc
.mypy_cache/
.pytest_cache/
dist/
venv/
.coverage
htmlcov/
*.egg-info
.python-version
.ruff_cache/

# Ignore temporary and backup files.
.DS_Store
*.bak
*.dot
*.png
*.swo
*.swp
*.tmp
*.log
*~
inventory.json
