# IDEs
.clwb
.idea
.vscode

# Ignore vagrant environment
.vagrant/

# Python
__pycache__
*.pyc
.mypy_cache/
.pytest_cache/
dist/
venv/
.coverage
htmlcov/
*.egg-info

# Ignore temporary and backup files.
.DS_Store
*.bak
*.dot
*.png
*.swo
*.swp
*.tmp
*.log
*~
inventory.json
