---
# yamllint disable rule:line-length
- name: Ensure git is installed
  ansible.builtin.apt:
    name: git
    state: present
    update_cache: true
  become: true

- name: Check latest version
  ansible.builtin.uri:
    url: https://api.github.com/repos/dandavison/delta/releases/latest
  register: delta_latest

- name: Install delta from github release page
  ansible.builtin.apt:
    deb: "{{ delta_latest.json | community.general.json_query(app_image_query) }}" # noqa jinja[invalid]
  become: true
  vars:
    app_image_query: "assets[?ends_with(name,'amd64.deb') && !contains(name,'musl')].browser_download_url | [0]"

- name: Write block in file to .gitconfig
  ansible.builtin.blockinfile:
    create: true
    mode: "0644"
    path: "{{ ansible_facts['user_dir'] }}/.gitconfig"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} ANSIBLE MANAGED BLOCK delta_gitconfig_block"
    block: |
      [core]
          pager = delta
      [interactive]
          diffFilter = delta --color-only
      [delta]
          features = side-by-side line-numbers decorations
          whitespace-error-style = 22 reverse
      [delta "decorations"]
          commit-decoration-style = bold yellow box ul
          file-style = bold yellow ul
          file-decoration-style = none
