packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "busy-signal"
  "file-icons"
  "file-types"
  "file-watcher"
  "git-blame"
  "git-log"
  "git-plus"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "language-bazel"
  "language-cmake"
  "language-docker"
  "language-ini"
  "language-protobuf"
  "linter"
  "linter-gcc"
  "markdown-toolbar"
  "markdown-writer"
  "minimap"
  "minimap-bookmarks"
  "minimap-highlight-selected"
  "open-in-browser"
  "open-terminal-here"
  "package-sync"
  "project-manager"
  "simple-drag-drop-text"
  "sort-lines"
  "tool-bar"
  "tool-bar-main"
  "tree-view-git-status"
]
