---
# yamllint disable rule:line-length
- name: Include rust role
  ansible.builtin.include_role:
    name: rust

- name: Ensure build deps present
  ansible.builtin.apt:
    state: present
    update_cache: true
    pkg:
      - build-essential
  become: true

- name: Install Atuin Rust package
  community.general.cargo:
    name:
      - atuin
    locked: true
    path: "{{ ansible_user_dir }}"
    executable: "{{ ansible_user_dir }}/.cargo/bin/cargo"

- name: Write block in file to rc files
  ansible.builtin.blockinfile:
    backup: true
    path: "{{ item }}"
    create: true
    mode: "0600"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} ANSIBLE MANAGED BLOCK atuin"
    block: |
      eval "$(atuin init {{ 'zsh' if item.endswith('.zshrc') else 'bash' }})"
  with_items:
    - "{{ ansible_user_dir }}/.zshrc"
    - "{{ ansible_user_dir }}/.bashrc"

- name: Ensure ansible config directory exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/ansible"
    state: directory
    mode: "0700"

- name: Copy config.toml to ansible config directory
  ansible.builtin.copy:
    src: config.toml
    dest: "{{ ansible_user_dir }}/.config/ansible/config.toml"
    mode: "0600"
