---
- name: Install ripgrep, git and vim
  ansible.builtin.apt:
    state: present
    pkg:
      - git
      - vim
      - ripgrep
    update_cache: true
  become: true

- name: Include nvim
  ansible.builtin.include_role:
    name: nvim

- name: Remove config directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ ansible_facts['user_dir'] }}/.config/nvim"
    - "{{ ansible_facts['user_dir'] }}/.local/share/nvim"
    - "{{ ansible_facts['user_dir'] }}/.cache/nvim"
  changed_when: false

- name: Install NvChad from https://nvchad.com/ # noqa latest[git]
  ansible.builtin.git:
    repo: https://github.com/NvChad/starter
    dest: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    depth: 1
  changed_when: false
