---
# yamllint disable rule:line-length
- name: Install zsh dependencies
  ansible.builtin.apt:
    state: present
    update_cache: true
    pkg:
      - curl
      - git
      - zsh
  become: true

- name: Generate zshrc content
  ansible.builtin.set_fact:
    zsh_hosts_content: "{{ lookup('template', 'templates/zshrc.j2') }}"
  vars:
    oh_my_zsh:
      theme: bira
      plugins:
        - { name: aliases, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/aliases" }
        - { name: ansible, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/ansible" }
        - { name: aws, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/aws" }
        - { name: colored-man-pages, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/colored-man-pages" }
        - { name: command-not-found, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/command-not-found" }
        - { name: common-aliases, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/common-aliases" }
        - { name: copybuffer, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/copybuffer" }
        - { name: copyfile, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/copyfile" }
        - { name: copypath, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/copypath" }
        - { name: debian, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/debian" }
        - { name: direnv, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/direnv" }
        - { name: dirhistory, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/dirhistory" }
        - { name: docker, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/docker" }
        - { name: docker-compose, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/docker-compose" }
        - { name: dotenv, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/dotenv" }
        - { name: extract, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/extract" }
        - { name: eza, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/eza" }
        - { name: fzf, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/fzf" }
        - { name: fzf-tab, comment: "" }
        - { name: gh, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/gh" }
        - { name: git, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git" }
        - { name: helm, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/helm" }
        - { name: history, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/history" }
        - { name: jfrog, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/jfrog" }
        - { name: jsontools, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/jsontools" }
        - { name: kubectl, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/kubectl" }
        - { name: minikube, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/minikube" }
        - { name: nmap, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/nmap" }
        - { name: pip, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/pip" }
        - { name: poetry, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/poetry" }
        - { name: pre-commit, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/pre-commit" }
        - { name: rsync, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/rsync" }
        - { name: rust, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/rust" }
        - { name: ssh, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/ssh" }
        - { name: ssh-agent, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/ssh-agent" }
        - { name: starship, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/starship" }
        - { name: sudo, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/sudo" }
        - { name: systemd, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/systemd" }
        - { name: tldr, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/tldr" }
        - { name: tmux, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/tmux" }
        - { name: vscode, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/vscode" }
        - { name: uv, comment: "https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/uv" }
        - { name: zsh-autosuggestions, comment: "https://github.com/zsh-users/zsh-autosuggestions" }
        - { name: zsh-syntax-highlighting, comment: "https://github.com/zsh-users/zsh-syntax-highlighting" }

- name: Write .zshrc based on template
  ansible.builtin.blockinfile:
    backup: true
    create: true
    dest: "{{ ansible_facts['user_dir'] }}/.zshrc"
    insertbefore: BOF
    mode: "0600"
    append_newline: true
    content: "{{ zsh_hosts_content }}"
  with_items:
    - "{{ ansible_facts['user_dir'] }}/.zshrc"

- name: Write block in file to rc files
  ansible.builtin.blockinfile:
    backup: true
    path: "{{ item }}"
    create: true
    mode: "0600"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} ANSIBLE MANAGED BLOCK aliases"
    block: |
      alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
      alias df='df -h'
      alias e='exit'
      alias free='free -m'
      alias hy='fc -ln 0 | awk "!a[\$0]++" | fzf --tac | xclip -selection clipboard'
      alias gh-create='gh repo create --private --source=. --remote=origin && git push -u --all && gh browse'
  with_items:
    - "{{ ansible_facts['user_dir'] }}/.zshrc"
    - "{{ ansible_facts['user_dir'] }}/.bashrc"

- name: Clone oh-my-zsh # noqa latest[git]
  ansible.builtin.git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: "{{ zsh_oh_my_zsh_dir }}"

- name: Clone zsh-autosuggestions plugin to oh-my-zsh directory
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    version: v0.7.0
    dest: "{{ zsh_oh_my_zsh_dir }}/custom/plugins/zsh-autosuggestions"
    depth: 1

- name: Clone zsh-syntax-highlighting plugin oh-my-zsh directory
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    version: "0.7.1"
    dest: "{{ zsh_oh_my_zsh_dir }}/custom/plugins/zsh-syntax-highlighting"
    depth: 1

- name: Clone fzf-tab plugin oh-my-zsh directory # noqa latest[git]
  ansible.builtin.git:
    repo: https://github.com/Aloxaf/fzf-tab.git
    dest: "{{ zsh_oh_my_zsh_dir }}/custom/plugins/fzf-tab"
    depth: 1

- name: Clone fzf # noqa latest[git]
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: "{{ zsh_fzf_dir }}"
    depth: 1

- name: Install fzf
  ansible.builtin.command: ./install --all --xdg
  args:
    chdir: "{{ zsh_fzf_dir }}"
  changed_when: false

- name: Copy profile_block
  ansible.builtin.copy:
    src: profile_block
    dest: /tmp/profile_block
    mode: "0644"

- name: Reading profile_block file and register it into profile_block variable
  ansible.builtin.command: cat /tmp/profile_block
  register: zsh_profile_block
  changed_when: false

- name: Write block in file to .profile
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['user_dir'] }}/.profile"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} ANSIBLE MANAGED BLOCK profile_zsh_block sourcing"
    block: |
      {{ zsh_profile_block.stdout }}

- name: Create symbolic link .zprofile
  ansible.builtin.file:
    src: "{{ ansible_facts['user_dir'] }}/.profile"
    dest: "{{ ansible_facts['user_dir'] }}/.zprofile"
    state: link

- name: Ensure ansible user exists in /etc/passwd
  ansible.builtin.lineinfile:
    path: /etc/passwd
    regexp: "^{{ ansible_facts['user_id'] }}.*"
    state: absent
  check_mode: true
  changed_when: false
  register: zsh_user

- name: Set default shell for users
  when: (zsh_user is defined) and (zsh_user.found | int > 0)
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /usr/bin/zsh
  become: true

- name: Clean up old installation paths
  ansible.legacy.include_tasks: delete_dir.yml
  with_items:
    - "{{ ansible_facts['user_dir'] }}/.fzf"
    - "{{ ansible_facts['user_dir'] }}/.oh-my-zsh"
    - "{{ ansible_facts['user_dir'] }}/.config/zsh"
    - "{{ ansible_facts['user_dir'] }}/.local/share/zsh"
