---
- name: Install tmux
  ansible.builtin.apt:
    state: present
    update_cache: true
    pkg:
      - git
      - tmux
  become: true

- name: Copy tmux config
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{ ansible_facts['user_dir'] }}/.tmux.conf"
    mode: preserve
    backup: true

# Block set by oh-my-zsh starship plugin
# Enable again when plugin not used
# - name: Write block in file to rc files
#   ansible.builtin.blockinfile:
#     backup: true
#     path: "{{ item }}"
#     create: true
#     mode: "0600"
#     append_newline: true
#     prepend_newline: true
#     marker: "# {mark} ANSIBLE MANAGED BLOCK tmux"
#     block: |
#       if command -v tmux >/dev/null; then
#         alias t='tmux'
#         # Attaches tmux to a session (example: ta portal)
#         alias ta='tmux attach -t'
#         # Creates a new session
#         alias tn='tmux new-session -s '
#         # Kill session
#         alias tk='tmux kill-session -t '
#         # Lists all ongoing sessions
#         alias tl='tmux list-sessions'
#         # Detach from session
#         alias td='tmux detach'
#         # Tmux Clear pane
#         alias tc='clear; tmux clear-history; clear'
#       fi
#   with_items:
#     - "{{ ansible_facts['user_dir'] }}/.zshrc"
#     - "{{ ansible_facts['user_dir'] }}/.bashrc"
- name: Remove block in file to rc files
  ansible.builtin.blockinfile:
    backup: true
    path: "{{ item }}"
    create: true
    mode: "0600"
    marker: "# {mark} ANSIBLE MANAGED BLOCK tmux"
    block: ""
  with_items:
    - "{{ ansible_facts['user_dir'] }}/.zshrc"
    - "{{ ansible_facts['user_dir'] }}/.bashrc"

- name: Clone Tmux plugin manager - don't forget to execute "prefix + I"  in tmux to install plugins # noqa latest[git]
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_facts['user_dir'] }}/.tmux/plugins/tpm"
    depth: 1
