packages: [
  "atom-beautify"
  "busy"
  "docker"
  "file-icons"
  "git-blame"
  "git-log"
  "git-plus"
  "git-time-machine"
  "hex"
  "highlight-line"
  "highlight-selected"
  "language-docker"
  "linter"
  "linter-docker"
  "linter-gcc"
  "linter-js-yaml"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "package-sync"
  "project-manager"
  "sort-lines"
  "todo-show"
  "tool-bar"
  "tool-bar-main"
]
