packages: [
  "atom-beautify"
  "atom-clock"
  "docker"
  "file-icons"
  "file-types"
  "git-blame"
  "git-log"
  "git-plus"
  "git-time-machine"
  "hex"
  "highlight-line"
  "highlight-selected"
  "language-cmake"
  "language-docker"
  "language-ini"
  "language-protobuf"
  "linter"
  "linter-docker"
  "linter-gcc"
  "linter-js-yaml"
  "linter-python-pep8"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-highlight-selected"
  "package-sync"
  "pretty-json"
  "project-manager"
  "python-autopep8"
  "simple-drag-drop-text"
  "sort-lines"
  "todo-show"
  "tool-bar"
  "tool-bar-main"
  "toolbar-iconshortcuts"
  "tree-view-git-status"
]
