---
- name: Setup machine for developing
  hosts: all
  roles:
    - name: Install zsh
      role: zsh
      tags: [zsh]
    - name: Install yazi
      role: yazi
      tags: [yazi]
    - name: Install lazygit
      role: lazygit
      tags: [lazygit]
    - name: Install rust
      role: rust
      tags: [rust]
    - name: Install eza
      role: eza
      tags: [eza]
    - name: Install nvim
      role: nvim
      tags: [nvim]
    - name: Install nvchad
      role: nvchad
      tags: [nvchad]
    - name: Install gogh
      role: gogh
      tags: [gogh]
    - name: Install nerdfonts
      role: nerdfonts
      tags: [nerdfonts]
    - name: Install git
      role: git
      tags: [git]
    - name: Ensure apps
      role: ensure_apps
      tags: [ensure-apps]
    - name: Install bat
      role: bat
      tags: [bat]
    - name: Install scripts
      role: scripts
      tags: [scripts]
    - name: Install delta
      role: delta
      tags: [delta]
    - name: Install gh
      role: gh
      tags: [gh]
    - name: Install gifgen
      role: gifgen
      tags: [gifgen]
    - name: Install tmux
      role: tmux
      tags: [tmux]
    - name: Install hadolint
      role: hadolint
      tags: [hadolint]
    - name: Install shfmt
      role: shfmt
      tags: [shfmt]
    - name: Install nvm
      role: nvm
      tags: [nvm]
    - name: Install helm
      role: helm
      tags: [helm]
    - name: Install k9s
      role: k9s
      tags: [k9s]
    - name: Install kubectl
      role: kubectl
      tags: [kubectl]
    - name: Install direnv
      role: direnv
      tags: [direnv]
    - name: Install atuin
      role: atuin
      tags: [atuin]
    - name: Install starship
      role: starship
      tags: [starship]
  environment: "{{ proxy_environment }}"
